# Assignments for "Lists"

1. Write a code to compute the sum of the two lowest numbers and the two highest numbers in the following list.

        my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]

In [1]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
my_list

[2, 12, 34, 37, 45, 54, 56, 66, 67, 76, 98]

In [2]:
highest=sum(my_list[-2:])
lowest=sum(my_list[0:2])
sum_list=highest+lowest
sum_list

188

2. The following two lists contain student names and scores. Write a code that gets the name from the user and prints the score of that student.

        names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", 
                 "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

        scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

In [3]:
names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", "Richard", "Thomas", "Steven", 
          "Mary", "Susan", "Maria", "Karen", "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]
scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
student_scores = dict(zip(names, scores))
student_scores

{'David': 99,
 'Michael': 87,
 'John': 78,
 'James': 86,
 'Greg': 68,
 'Mark': 94,
 'William': 76,
 'Richard': 97,
 'Thomas': 56,
 'Steven': 98,
 'Mary': 76,
 'Susan': 87,
 'Maria': 79,
 'Karen': 90,
 'Lisa': 73,
 'Linda': 93,
 'Donna': 82,
 'Patricia': 69,
 'Debra': 97,
 'Eric': 98}

In [4]:
name=input("Please enter the name of the student: ")
if name in student_scores:
    print("The score of {} is {}.".format(name,student_scores[name]))
else:
    print("There is no student named {} in the class.".format(name))

Please enter the name of the student:  Susan

The score of Susan is 87.

3. By using the two lists above, what is the maximum score and how many students got that score?

In [5]:
max_value=max(student_scores,key=student_scores.get)
max_value

'David'

4. We can confuse about how many days a month is. Create a list to handle it. You will have month names and day counts in your list together as a nested list.

In [6]:
Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July','August', 'September', 'October', 'November', 'December']
Days=[31,28,31,30,31,30,31,31,30,31,30,31]
my_nested_list=[]
for M,D in zip(Months,Days):
    my_nested_list.append([M,D])

In [7]:
my_nested_list

[['January', 31],
 ['February', 28],
 ['March', 31],
 ['April', 30],
 ['May', 31],
 ['June', 30],
 ['July', 31],
 ['August', 31],
 ['September', 30],
 ['October', 31],
 ['November', 30],
 ['December', 31]]

5. Now create lists of months for each season. Get month names and day counts from the list that you create before with slicing. Name the lists with seasons.

In [8]:
winter = []
for month in my_nested_list:
    if (month[0] == 'December' or month[0] == 'January' or month[0] == 'February'):
        winter.append(month[:])
spring = []
for month in my_nested_list:
    if (month[0] == 'March' or month[0] == 'April' or month[0] == 'May'):
        spring.append(month[:])

summer = []
for month in my_nested_list:
    if (month[0] == 'June' or month[0] == 'July' or month[0] == 'August'):
        summer.append(month[:])

autumn = []
for month in my_nested_list:
    if (month[0] == 'September' or month[0] == 'October' or month[0] == 'November'):
        autumn.append(month[:])

In [9]:
winter

[['January', 31], ['February', 28], ['December', 31]]

In [10]:
spring

[['March', 31], ['April', 30], ['May', 31]]

In [11]:
summer

[['June', 30], ['July', 31], ['August', 31]]

In [12]:
autumn

[['September', 30], ['October', 31], ['November', 30]]

6. Finally, from the list in the previous question, calculate how many days the summer season lasts.

In [13]:
summer_time = 0
for month in summer:
    summer_time=summer_time+month[1]

In [14]:
print("The summer season lasts",summer_time, "days.")

The summer season lasts 92 days.