# <font color=blue>Assignments for "Data Cleaning - Variable Types"</font>

**(1)** Determine the types of the below-given variables:
- Age
- Salary
- Income
- Customer type
- Stock price

In [1]:
print("The type of variable 'Age' is continuous (Quantitaive).")
print("The type of variable 'Salary' is continuous (Quantitaive).")
print("The type of variable 'Income' is continuous (Quantitaive).")
print("The type of variable 'Customer type' is nominal (Qualitaive).")
print("The type of variable 'Stock price' is continuous (Quantitaive).")

The type of variable 'Age' is continuous (Quantitaive).
The type of variable 'Salary' is continuous (Quantitaive).
The type of variable 'Income' is continuous (Quantitaive).
The type of variable 'Customer type' is nominal (Qualitaive).
The type of variable 'Stock price' is continuous (Quantitaive).

**(2)** Using the `movie` data, we have studied in this lesson. Complete the following tasks:
    * Select a variable from the `movie` dataset and discuss the variable type of this variable
    * Categorize a variable of your choice and assign a name to it
    * Count the number of rows for each category

In [5]:
import pandas as pd
import numpy as np
movie = pd.read_csv("https://bootrain-lms-assets.s3.eu-central-1.amazonaws.com/bootrain-lms-static/datasets/movie.csv")

In [6]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Let's investistigate the variable "IMDB Score".

In [7]:
print("The type of variable 'IMDB Score' is continuous (Quantitaive).")

The type of variable 'IMDB Score' is continuous (Quantitaive).

In [8]:
imdb_desc=movie.imdb_score.describe()
display(imdb_desc)

count    5043.000000
mean        6.442138
std         1.125116
min         1.600000
25%         5.800000
50%         6.600000
75%         7.200000
max         9.500000
Name: imdb_score, dtype: float64

In [12]:
print("The number of missing values in the variable 'IMDB Score': {}".format(movie.imdb_score.isnull().sum()))

The number of missing values in the variable 'IMDB Score': 0

In [13]:
def imdb_score_discrete(imdb_score,imdb_threshold):
    if imdb_score<=imdb_threshold[0]:
        return 1
    elif (imdb_score>imdb_threshold[0]) and (imdb_score<imdb_threshold[1]):
        return 2
    elif (imdb_score>=imdb_threshold[1]): 
        return 3

In [16]:
imdb_quantile=imdb_desc[['25%','75%']]
movie['imdb_score_group']=movie['imdb_score'].apply(imdb_score_discrete,imdb_threshold=imdb_quantile)
display(movie[['imdb_score','imdb_score_group']])

      imdb_score  imdb_score_group
0            7.9                 3
1            7.1                 2
2            6.8                 2
3            8.5                 3
4            7.1                 2
...          ...               ...
5038         7.7                 3
5039         7.5                 3
5040         6.3                 2
5041         6.3                 2
5042         6.6                 2

[5043 rows x 2 columns]

In [17]:
imdb_groups=movie.imdb_score_group.value_counts(sort=False).to_frame()
imdb_groups.index=["low score","medium score","high score"]
imdb_groups.index.name='IMDB Score Groups'
imdb_groups.rename(columns={'imdb_score_group': 'Value Counts'}, inplace=True)
imdb_groups

                   Value Counts
IMDB Score Groups
low score                  1310
medium score               2320
high score                 1413

**(3)** Is it possible to convert categorical variable into numerical one? If so, how can you make that?

**(4)** While continuous data is generally preferred over discrete data, please indicate circumstances where discrete is the preferred data type although continuous data is available for the same characteristic.

**(5)** While continuous data is measured and attribute data is counted, there is sometimes confusion if some specific dataset should be considered continuous or attribute. Provide some examples of confusing datasets and your inference.